.svg {
    position: absolute;
    
    height: 120vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.path {
  stroke: blue;
    animation: draw 20s infinite;
    animation-timing-function: linear;
}
.path-01 {
    stroke: blue;
    animation-delay: 0s;  
}
.path-02 {
  stroke: blue;
    animation-delay: 1s;
}  
.path-03 {
  stroke: blue;
    animation-delay: 2s;
}  
.path-04 {
  stroke: blue;
    animation-delay: 3s;
}
.path-05 {
  stroke: blue;
    animation-delay: 4s;
}
.paths-bg{
  stroke: blue;
}
  
  
  
  @keyframes draw {
    0% {
    }
    100% {
      stroke-dashoffset: 0;
      stroke-opacity: 1;
    }
  }